.section-about{
    min-height: 944px;
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 70px 0 70px;
    @media(max-width: 1024px) {
        min-height: inherit;
        padding: 40px 0 60px; 
    }
    .container{
        max-width: 1020px;   
    }
    &__line{
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 1024px) {
            .section-about__line_img img {
                margin-right: -34px;
            }
        }
        @media(max-width: 767px) {
            flex-direction: column;
        }
        
        &:first-child{
            .section-about__line_img {
                img{
                    max-width: 70%;
                }
            }
        }
        &:last-child{
            @media(max-width: 1024px) {
                padding-top: 30px;
                .section-about__line_img{
                    img{
                        max-width: 80%!important;
                        margin-right: 0px;
                    }
                }
            }
            @media(max-width: 767px) {
                flex-direction: column-reverse;
            }
            .section-about__line_text.animate{
                opacity: 0;
                transform: translateX(-100px);
                &.animated{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
        &_img{
            flex: 1;
            transform: scale(1.2);
            @media(max-width: 1024px) {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: scale(1);
                img{
                    max-width: 55%!important;
                }
            }
        }
        &_text{
            &.animate{
                opacity: 0;
                transform: translateX(100px);
                &.animated{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            flex: 1;
            @media(max-width: 1024px) {
                text-align: center;
                max-width: 320px;
                
            }
            &-small{
                font-size: 20px;
                color: #005BFF;
                padding-bottom: 30px;
                @media(max-width: 1024px) {
                    font-size: 16px;
                    padding-bottom: 4px;
                }
            }
            &-big{
                font-size: 44px;
                font-weight: bold;
                color: #00215C;
                @media(max-width: 1024px) {
                    font-size: 24px;
                }
            }
        }
    }
}