@font-face {
  font-family: 'gte';
  src: url('../fonts/gteestiprodisplay_bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'gte';
  src: url('../fonts/gteestiprodisplay_regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
