.section-faq{
	padding-top: 130px;
	padding-bottom: 88px;
	background-image: url("../images/faq-bg.jpg");
	background-size: cover;
	//background-position: center;
	//background-repeat: no-repeat;
	@media(max-width: 1024px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__title{
		color: $color-white;
		font-size: 56px;
		font-weight: bold;
		padding-bottom: 44px;
		@media(max-width: 1024px) {
			font-size: 38px;
			text-align: center;
			padding-bottom: 34px;
		}
		
	}
	.faq{
		display: flex;
		flex-direction: column;
		gap: 14px;
		&__item{
			background: #00215F;
			border-radius: 30px;
			@media(max-width: 1024px) {
				border-radius: 20px;
			}
			.faq-item__question{
				background: #005BFF;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px 50px;
				border-radius: 30px;
				@media(max-width: 1024px) {
					padding: 15px 30px;
					border-radius: 20px;
				}
				&.active {
					.faq-item__question_arrow {
						transform: rotate(45deg) scale(1.5); /* если используете иконку вместо текста */
					}
				}
				&_title{
					color: $color-white;
					font-size: 20px;
					@media(max-width: 1024px) {
						font-size: 18px;
						max-width: 90%;
					}
				}
				&_arrow{
					transition: transform 0.3s ease;
					transform: scale(1.5);
					color: $color-white;
					font-size: 30px;
					@media(max-width: 1024px) {
						font-size: 18px;
					}
				}
			}
			.faq-item__answer{
				display: none; /* Скрываем ответы по умолчанию */
				padding: 30px 50px;
				color: #BBD3FF;
				font-size: 20px;
				a{
					color: #BBD3FF;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
				@media(max-width: 1024px) {
					font-size: 16px;
					padding: 20px 30px;
				}
			}
		}
	}
	
}