.boxBlue{
  background-image: url("../images/blue-bg-glogal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}




.section-blue{
  padding: 130px 0 80px;
  @media(max-width: 1024px) {
    padding: 80px 0 12px;
  }
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media(max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  &__content{
    flex: 1;
    &_info{
      font-weight: 400;
      font-size: 30px;
      color: #BBD3FF;
      padding-bottom: 34px;
      @media(max-width: 1024px) {
        font-size: 18px;
      }
    }
    &_title{
      font-weight: 700;
      font-size: 52px;
      color: $color-white;
      padding-bottom: 24px;
      @media(max-width: 1024px) {
        font-size: 38px;
        padding-bottom: 32px;
      }
    }
    &_text{
      font-weight: 400;
      font-size: 24px;
      max-width: 454px;
      color: #bbd3ff;
      padding-bottom: 24px;
      @media(max-width: 1024px) {
        font-size: 18px;
        margin: 0 auto;
        padding-bottom: 40px;
      }
    }
  }
  &__image{
    height: 384px;
    background-repeat: no-repeat;
    width: 546px;
    background-image: url("../images/blue.png");
    background-size: contain;
    background-position: center;
    @media(max-width: 1024px) {
      width: 100%;
      height: 317px;
    }
    &_text{

    }
  }
}