.section-blue4{
  //background: $color-blue2;
  background: linear-gradient(180.38deg, #005BFF 0.33%, #00215F 58.63%);

  padding: 48px 0;
  padding-bottom: 324px;
  .container{
    display: flex;
    //align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 88px;
  }
  
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 58px 24px;
    gap: 24px;
    width: calc(48% - 50px);
    background-image: url("../images/blue-4-bg-box.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    border-radius: 22px;
    &_image{
      margin-top: -104px;
    }
    &_title{
      font-weight: 700;
      font-size: 36px;
      color: $color-blue;
      text-align: center;
    }
    &_text{
      font-weight: 400;
      font-size: 20px;
      color:$color-blue2;
      text-align: center;
      max-width: 424px;
      b{
        font-weight: bold;
      }
      a{
        color: $color-blue;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }



  &__content{
    flex: 1;
    &_info{
      font-weight: 400;
      font-size: 30px;
      color: #BBD3FF;
      padding-bottom: 24px;
    }
    &_title{
      font-weight: 700;
      font-size: 52px;
      color: $color-white;
      padding-bottom: 24px;
    }
    &_text{
      font-weight: 400;
      font-size: 20px;
      color: #BBD3FF;
      padding-bottom: 24px;
    }
  }
  &__image{
    flex: 1;
    background-image: url("../images/blue.png");
    background-size: contain;
    background-position: center;
    height: 494px;
    background-repeat: no-repeat;
    &_text{

    }
  }
}