.section-blue2{
  background-image: url("../images/blue-bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 108px 0 0;
  .container{
    position: relative;
  }
  &__content{
    &_info{
      font-weight: 400;
      font-size: 30px;
      color: #BBD3FF;
      padding-bottom: 24px;
    }
    &_title{
      font-weight: 700;
      font-size: 76px;
      color: $color-white;
      padding-bottom: 44px;
      span{
        background-image: url("../images/blue-2-bg-text.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 16px;
      }
    }
    &_text{
      font-weight: 700;
      font-size: 36px;
      color: $color-white;
     
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    position: relative;
    padding-bottom: 218px;
    &_box{
      //background: $color_white;
      padding: 22px;
      border-radius: 12px;
      min-height: 205px;
      &.box1-2{
        padding-top: 0;
      }
      &.box1{
        width: 260px;
        background-image: url("../images/blue-2-bg-box1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        b{
          font-weight: bold;
          display: inline-block;
        }
        a{
          color: $color-blue;
          text-decoration: underline;
          &:hover{
            text-decoration: none;
          }
        }
      }
      &.box2{
        width: 310px;
        .box2-head{
          background: #00215FFF;
          font-size: 20px;
          color: $color-white;
          font-weight: bold;
          padding: 12px;
          border-radius: 12px;
          text-align: center;
        }
        .box2-content{
          background: #00000026;
          padding: 12px;
          border-radius: 12px;
          p{
            color: $color-white;
            font-size: 16px;
            position: relative;
            padding-left: 32px;
            padding-bottom: 12px;
            line-height: 22px;
            max-width: 212px;
            span{
              position: absolute;
              left: 10px;
              top: 4px;
              color: $color-red_1;
            }
          }
        }
      }
      &.box3{
        flex: 1;
      }
    }
    &_image{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}