.section-blue2{
  background: $color-blue;
  padding: 48px 0;
  .container{
    max-width: 1280px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      height: 118px;
      width: 100%;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0, 91, 255, 0) 0%, rgba(0, 91, 255, 0.5) 50%, #005BFF 100%);
    }


  }
  &__content{
    &_info{
      font-weight: 400;
      font-size: 30px;
      color: #BBD3FF;
      padding-bottom: 24px;
    }
    &_title{
      font-weight: 700;
      font-size: 76px;
      color: $color-white;
      padding-bottom: 24px;
    }
    &_text{
      font-weight: 700;
      font-size: 36px;
      color: $color-white;
      padding-bottom: 24px;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: relative;
    padding-bottom: 388px;
    &_box{
      flex: 1;
      //background: $color_white;
      padding: 22px;
      border-radius: 12px;
      min-height: 195px;
      &.box1{
        background: #fff;
      }
      &.box2{
        .box2-head{
          background: linear-gradient(180.38deg, #005BFF 0.33%, #00215F 58.63%);
          font-size: 20px;
          color: $color-white;
        }
        .box2-content{
          background: #00000026;

          p{
            color: $color-white;
            font-size: 16px;
            span{
              color: $color-red_1;
            }
          }
        }
      }
    }
    &_image{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}