.boxBlue{


}




.section-blue{
  //background: $color-blue;
  background-image: url("../images/blue-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 0 80px;
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__content{
    flex: 1;
    &_info{
      font-weight: 400;
      font-size: 30px;
      color: #BBD3FF;
      padding-bottom: 34px;
    }
    &_title{
      font-weight: 700;
      font-size: 52px;
      color: $color-white;
      padding-bottom: 24px;
    }
    &_text{
      font-weight: 400;
      font-size: 24px;
      max-width: 454px;
      color: #bbd3ff;
      padding-bottom: 24px;
    }
  }
  &__image{
    height: 384px;
    background-repeat: no-repeat;
    width: 546px;
    background-image: url("../images/blue.png");
    background-size: contain;
    background-position: center;
   
    &_text{

    }
  }
}