.section-blue4{
  padding: 48px 0;
  @media(max-width: 1024px) {
    padding: 48px 0 0;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    max-width: 1110px;
    @media(max-width: 1024px) {
     
      padding-bottom: 24px;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
    @media(max-width: 767px) {
      flex-direction: column;
    }
  }
  
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 24px 102px;
    gap: 28px;
    width: calc(50% - 50px);
    background-image: url("../images/blue-4-bg-box.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    border-radius: 22px;
    &.animate{
      opacity: 0;
      transform: translateY(-100px);
      &.animated{
        opacity: 1;
        transform: translateY(0);
      }
    }
    @media(max-width: 1024px) {
      width: 100%;
      max-width: 358px;
      min-height: 375px;
      gap: 14px;
      padding: 48px 24px;
    }
    &_image{
      margin-top: -104px;
      @media(max-width: 1024px) {
        margin-top: -84px;
        height: 134px;
        width: 134px;
      }
    }
    &_title{
      font-weight: 700;
      font-size: 36px;
      color: $color-blue;
      text-align: center;
      @media(max-width: 1024px) {
        font-size: 28px;
      }
    }
    &_text{
      font-weight: 400;
      font-size: 20px;
      color:$color-blue2;
      text-align: center;
      max-width: 424px;
      @media(max-width: 1024px) {
        font-size: 16px;
      }
      b{
        font-weight: bold;
      }
      a{
        color: $color-blue;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }



  &__content{
    flex: 1;
    &_info{
      font-weight: 400;
      font-size: 30px;
      color: #BBD3FF;
      padding-bottom: 24px;
    }
    &_title{
      font-weight: 700;
      font-size: 52px;
      color: $color-white;
      padding-bottom: 24px;
    }
    &_text{
      font-weight: 400;
      font-size: 20px;
      color: #BBD3FF;
      padding-bottom: 24px;
    }
  }
  &__image{
    flex: 1;
    background-image: url("../images/blue.png");
    background-size: contain;
    background-position: center;
    height: 494px;
    background-repeat: no-repeat;
    &_text{

    }
  }
}