.section-active{
	padding-top: 156px;
	padding-bottom: 76px;
	color: #122941;
	//background: linear-gradient(180.38deg, #f4f3fb 0.33%, #4888fb 58.63%);
	background-image: url("../images/active-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media(max-width: 1024px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
		padding-bottom: 48px;
		@media(max-width: 1024px) {
			flex-direction: column;
			padding-bottom: 24px;
		}
		&_title{
			font-size: 52px;
			font-weight: bold;
			color: #122941;
			@media(max-width: 1024px) {
				font-size: 38px;
				text-align: center;
			}
		}
		&_text{
			font-size: 24px;
			max-width: 600px;
			width: 100%;
			@media(max-width: 1024px) {
				font-size: 18px;
				max-width: 320px;
				text-align: center;
			}
			b{
				font-weight: bold;
			}
		}
	}
	&__content{
		position: relative;
		@media(max-width: 430px) {
			&:after{
				content: '';
				background-image: url("../images/active-bg-mob.png");
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				height: 351px;
				position: absolute;
				left: 0;
				top: 120px;
				z-index: 2;
			}
		}
		@media(min-width: 431px) {
			background-image: url("../images/active-bg.png");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			max-width: 1561px;
			
			margin: 0 auto;
		}
		@media(min-width: 1024px) {
			height: 590px;
		}
		.container{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			@media(max-width: 1024px) {
				flex-direction: column;
				gap: 240px;
				align-items: center;
			}
		}
		&_box1{
			background: #001628CC;
			backdrop-filter: blur(4px);
			border-radius: 30px;
			padding: 28px;
			width: 352px;
			@media(max-width: 1024px) {
				max-width: 352px;
				width: 100%;
				position: relative;
				z-index: 1;
				text-align: center;
			}
			
			&-top{
				font-size: 16px;
				padding-bottom: 24px;
				color: $color-white;
			}
			&-center{
				font-size: 30px;
				font-weight: bold;
				color: #BBD3FF;
				@media(max-width: 1024px) {
					font-size: 26px;
				}
			}
			&-bottom{
				font-size: 20px;
				color: $color-white;
				@media(max-width: 1024px) {
					font-size: 18px;
				}
				b{
					font-weight: bold;
				}
			}
		}
		&_box2{
			width: 409px;
			background: $color_white;
			border-radius: 30px;
			@media(max-width: 1024px) {
				max-width: 409px;
				width: 100%;
				position: relative;
				z-index: 3;
			}
			&-top{
				width: 100%;
				background: #043690;
				border-radius: 30px;
				padding: 30px;
				text-align: center;
				&--title{
					font-size: 20px;
					color: #BBD3FF;
					padding-bottom: 12px;
					@media(max-width: 1024px) {
						font-size: 16px;
					}
				}
				&--text{
					font-size: 30px;
					font-weight: bold;
					color: $color-white;
					max-width: 270px;
					margin: 0 auto;
					@media(max-width: 1024px) {
						font-size: 24px;
					}
				}
			}
			&-content{
				font-size: 20px;
				color: #122941;
				padding: 30px 40px;
				text-align: center;
				@media(max-width: 1024px) {
					font-size: 18px;
				}
				b{
					font-weight: bold;
					font-size: 24px;
					display: block;
					@media(max-width: 1024px) {
						font-size: 18px;
					}
				}
				a{
					color: $color-blue;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}