.footer{
  z-index: 10;
  padding: 62px 0;
  background: #00215F;
  @media(max-width: 1024px) {
    padding: 42px 0;
  }
  
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
      max-width: 85px;
    }
  }
  .flexible{
    justify-content: space-between;
    @media(max-width: 1024px) {
      justify-content: center;
    }
  }
    .nav {
      display: flex;
      gap: 42px;
      @media(max-width: 1199px) {
        gap: 24px;
      }
      @media(max-width: 1024px) {
        display: none;
      }
    }
  
    li {
      display: inline-block;
      vertical-align: top;
      //margin: 0 15px;
      position: relative;
      font-size: 16px;
      @media(max-width: 1199px) {
        font-size: 16px;
      }
    
      a {
        cursor: pointer;
        color: $color-white;
        text-decoration: none;
        @include web_transition(all .2s ease-in-out);
        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 2px;
          width: 100%;
          height: 1px;
          border-radius: 2px;
          background-color: transparent;
        }
        &:hover{
          color: $color-white;
          &:after{
            background-color: $color-white;
          }
        }
      }
    }
}