.footer{
  z-index: 10;
  padding: 62px 0;
  background: #00215F;
  @media(max-width: 1024px) {
    padding: 42px 0;
  }
  
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
    }
  }
  .flexible{
    justify-content: space-between;
    @media(max-width: 1024px) {
      justify-content: center;
    }
  }
    .nav {
      display: flex;
      gap: 42px;
      @media(max-width: 1199px) {
        gap: 24px;
      }
      @media(max-width: 1024px) {
        display: none;
      }
    }
  
    li {
      display: inline-block;
      vertical-align: top;
      //margin: 0 15px;
      position: relative;
      font-size: 20px;
      @media(max-width: 1199px) {
        font-size: 18px;
      }
    
      a {
        cursor: pointer;
        color: $color-white;
        text-decoration: none;
        @include web_transition(all .2s ease-in-out);
      
        &:hover {
          color: $color-blue;
        }
      }
    }
}