{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

        <div class="main">
        {% include "blocks/intro/_section-intro.html" %}
        {% include "blocks/about/_section-about.html" %}
        {% include "blocks/info/_section-info.html" %}
       <div class="boxBlue">
               {% include "blocks/blue/_section-blue.html" %}
               {% include "blocks/blue/_section-blue2.html" %}
               {% include "blocks/blue/_section-blue3.html" %}
               {% include "blocks/blue/_section-blue4.html" %}
                {% include "blocks/banner/_section-banner.html" %}
       </div>
        
        {% include "blocks/game/_section-game.html" %}
        {% include "blocks/active/_section-active.html" %}



        {% include "blocks/contact/_section-contact.html" %}
        </div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}